body {
    font-family: "Ibarra Real Nova", serif;
    background-color: #b2c8df;
    text-align: center;
}

h1 {
    color: #f8f9d7;
    font-size: 40px;
}
button {
    background-color: #c4d7e0;
    border-color: #c4d7e0;
    border-radius: 10px;
    font-weight: 800;
    padding: 5px;
    box-shadow: inset;
    border-width: 0;
}
#con {
    background-color: #c4d7e0;
    display: flex;
    margin-left: auto;
    border-radius: 10px;
}
